*{
    margin: 0;
    padding: 0%;
}
header{
    overflow: hidden;
    margin: 0%;
    padding: 2px;
    display: grid;
    grid-template-columns:1fr 2fr 12fr 2fr;
    color: white;
    font-size: large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #B50000;
}

header a, header div{    
    text-decoration: none;
    color: white;
}
.dropdown {
    float: left;
    overflow: hidden;
  }  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  #name{
      display: flex;
      flex-wrap: wrap;
      flex-flow: row;
      justify-content: flex-start;
      font-size: 100px;
      text-align: center;
      color: #8f0707;
  }
  #title{
    display: flex;
    flex-wrap: wrap;
      margin-top: 10px;
  }
  #name p{
      display: flex;
      flex-wrap: wrap;
      font: caption;
      margin: -300px;
      margin-top: 110px;
  }
  #canteen{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background-image: url(canteen.png);
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: 10px 10px 30px 10px rgba(0,0,0,0.2);
      margin: 20px;
  }
  #canteen img{
    display: flex;
    flex-wrap: wrap;
    box-shadow: 10px 10px 30px 10px rgba(0,0,0,0.2);
    margin: 20px;
  }
  #caption{
    display: flex;
    flex-wrap: wrap;
      margin: 50px;
      padding: 50px;
      text-align: center;
      font-size: 25px;
      font-style: italic;
      color: #8f0707;
  }
  #food{
      background-image: url(food.png);
      height: 200px;
      margin: 0px 0px 20px 0px;
  }
  footer{
    flex-wrap: wrap;
      text-align: center;
      background-color: #B50000;
      color: white;
      padding: 10px;
  }